@page "/flex"
@rendermode InteractiveWebAssembly
@using BlazorHorizontalScroller

<PageTitle>Flex</PageTitle>
<div style="overflow-x: hidden;">
    <div class="container-md">
        <div class="d-flex">
            <div style="width: 40px;max-width:40px;background-color: red;">Yo!</div>
            <div style="flex-grow-1">
                <HorizontalScroller Items="Enumerable.Range(0, 10)" ItemsPerSlideSelector="_ => 5">
                    <ItemTemplate>
                        <div class="card bg-primary">
                            <div class="card-body">
                                Card #@context
                            </div>
                        </div>
                    </ItemTemplate>
                </HorizontalScroller>
            </div>
        </div>

    </div>
</div>

@code {
}
