.bhs-container {
    overflow-x: clip;
    overflow-y: hidden;
    position: relative;
}
.bhs-container.allow-grab {
    cursor: grab;
}

.bhs-content {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.bhs-item {
    flex: 0 0 auto;
    margin-right: var(--item-spacing);
    white-space: normal;
}

::deep .width-per-slide {
    width: calc((var(--container-width) - ((var(--items-per-slide) - 1) * var(--item-spacing))) / var(--items-per-slide));
}

.bhs-end-spacer {
    flex: 0 0 auto;
    width: var(--end-spacer-width, 0px);
}